#board {
    margin: 20px auto;
    max-width: 600px;
    border: 2px solid black;
}
.tile {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: rgb(245, 245, 242);
    position: relative;
    padding: 5px;
}
.tile-rack{
    display: flex;
    flex-direction: row;
    padding:50px 0;
    justify-content: center;
}
.score {
    font-size: 16px;
    position: absolute;
    bottom: 3px;
    right: 3px;
}
.word-play{
    display: flex;
    flex-direction: row;
    padding: 20px 0;
}