.body{
width:90%;
margin: 0 auto;
line-height: 2;
font-size: 1.25em;
}

.container{
  display: flex;
  flex-direction: row;
  /* width:90%;
  margin: 0 auto; */
}
.special-tiles{
  padding: 20px;
  margin-right: 100px;
  flex:1;
  background-color: antiquewhite;
}
.special-tiles p{
  font-size: 1.25em;
  line-height: 1.25;
}
.plays{
  display: flex;
  flex-direction: row;
  width: 100vw;
  list-style: none;
}
.horizontal{
  margin-right: 50px;
}
.special-score{
  width: 70px;
  height: 70px;
  margin: auto 0;
}
.scoring{
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  background-color: antiquewhite;
  flex:1;
}
.scoring h3{
  margin-left: 20px;
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
  padding:0 auto;
}