
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes slideToBoard {
  0% {
    transform: translateY(0px);
    opacity: 1;
  }
  100% {
    transform: translateY(-50px);
    opacity: 1;
  }
}

.tile-animation {
  animation: slideToBoard 0.8s ease-out;
}

#score {
  margin-top: 20px;
}

/* Align the ordered and unordered lists to the left */
#score ol, #score ul {
  text-align: left;
  margin-left: 20px;  /* Adds indentation for list items */
  padding-left: 0;    /* Removes default padding */
}

#score li {
  margin-bottom: 10px;  /* Space between list items */
}

/* Style the button */
button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 15px;
}

button:hover {
  background-color: #0056b3;
}

#score ol li, #score ul li {
  margin-bottom: 10px; /* Space between list items */
}

